body	{
	margin: 0;
	font-family: sans-serif;
	background: rgb(0, 0, 40);
}



#logo 	{
	height: 100px;
	width: 100px;
	
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

h1	{
color: white;
}
